<div class="main-content">
  <div class="section-content section-content-p30">
    <h4>{{currentCategoryName}}</h4>
    <hr>
    <div class="container-fluid">

      <div class="row">
        <div *ngFor="let tempProduct of products" class="col-md-3">
          <div class="product-box">
              <a routerLink="/products/{{tempProduct.id}}">
                <img src="{{ tempProduct.imageUrl }}" class="img-responsive">
              </a>
              <div class="name-area" routerLink="/products/{{tempProduct.id}}">
                <h1 class="name">{{ tempProduct.name }}</h1>
              </div>
              <div class="price">{{ tempProduct.unitPrice | currency: 'USD' }}</div>
              <button (click)="addToCart(tempProduct)" class="btn btn-primary btn-sm">Add to cart</button>
          </div>
        </div>

        <div *ngIf="products?.length === 0" class="alert alert-warning col-md-12" role="alert">
          Sorry, no products found...
        </div>
      </div>

      <!-- begin footer -->
      <div class="footer-pagination">
        <div class="row">
          <div class="col-md-6"></div>

          <div class="col-md-6">
            <div class="row">
              <div class="col-md-8" style="padding-left: 10%">

                <!--  maxSize is the limit of aligned pageNum at once -->
                <ngb-pagination
                  [(page)]="thePageNumber"
                  [pageSize]="thePageSize"
                  [collectionSize]="theTotalElements"
                  [maxSize]="3"
                  [boundaryLinks]="true"
                  (pageChange)="getProducts()">

                </ngb-pagination>

              </div>

              <div class="col-md-4 mt-2" style="text-align: right;">
                <span>Page Size　</span>

                <select (change)="updatePageSize($event)" class="ma-2">
                  <option selected="true">8</option>
                  <option>16</option>
                  <option>24</option>
                  <option>32</option>
                </select>
              </div>

            </div>
          </div>

        </div>
      </div>
      <!-- end footer -->

    </div>
  </div>
</div>
