$theme-color-blue: #addae7;
$theme-color-pink: #ede4e1;
$theme-color-black: #555;
$theme-color-dark-blue: #205b8d;
$theme-color-btn-blue: #4682b4;
$theme-color-hover-blue: #205b8d;
$theme-color-white: #f5f5f5;

//$theme-color-brown: #494949;
